<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <a href="#" class="previous-education">
            <i class="fa fa-angle-left"></i>
        </a>
        <div class="education-info">
            <h6>BÖLÜM 12</h6>
            <h3>VR PROGRAMLAR</h3>
        </div>
    </div>
    
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">
                <i class="fa fa-book" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">
                <i class="fa fa-folder" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="education-watch">
        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            <ul class="course-list">
                <li class="previous">
                    <a href="#">
                        <svg class="svg-item">
                            <use xlink:href="#education-check" />
                        </svg> <p>VR Giriş</p>
                    </a>
                </li>

                <li class="active">
                    <a href="#">
                        <svg class="svg-item">
                            <use xlink:href="#education-check" />
                        </svg> <p>VR Giriş</p>
                    </a>
                </li>

                <li class="next">
                    <a href="#">
                        <span class="course-list-next-item"></span> <p>VR Giriş</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            <ul class="course-list">
                <li class="previous">
                    <a href="#">
                        <svg class="svg-item">
                            <use xlink:href="#education-check" />
                        </svg> <p>VR Giriş</p>
                    </a>
                </li>

                <li class="active">
                    <a href="#">
                        <svg class="svg-item">
                            <use xlink:href="#education-check" />
                        </svg> <p>VR Giriş</p>
                    </a>
                </li>

                <li class="next">
                    <a href="#">
                        <span class="course-list-next-item"></span> <p>VR Giriş</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
            <ul class="course-list">
                <li class="previous">
                    <a href="#">
                        <svg class="svg-item">
                            <use xlink:href="#education-check" />
                        </svg> <p>VR Giriş</p>
                    </a>
                </li>

                <li class="active">
                    <a href="#">
                        <svg class="svg-item">
                            <use xlink:href="#education-check" />
                        </svg> <p>VR Giriş</p>
                    </a>
                </li>

                <li class="next">
                    <a href="#">
                        <span class="course-list-next-item"></span> <p>VR Giriş</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

      
</nav>