<!-- Page Content  -->
<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button type="button" id="sidebarCollapse" class="btn">
            <i class="fas fa-align-left"></i>
        </button>
    </nav>

    <div class="video-wrapper">
        <div class="video-title">
            12 - VR Programlar
        </div>
        <div class="video-content">
                <iframe width="100%" height="500" src="https://www.youtube.com/embed/hnMHqt4HyEc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="video-description">
            <div class="row">
                <div class="col-md-10">
                    <p>Aklına takılan sorular mı var? Bunları <a href="#">forumlarda</a> tartışarak çözebilirsin.</p>
                </div>
                <div class="col-md-2">
                    <a href="#" class="next-btn">İleri <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>