<div class="news">
    <div class="container">
        <div class="row">
            <div class="news-learn">
                <div class="col-lg-7">
                    <h1>Haydi sen de üret!</h1>
                    <p>Üretken akademi; blockchain, mobil uygulama, arayüz geliştirme gibi konularda ücretsiz ve Türkçe online
                        eğitim sağlayan bir portaldır.</p>
                    <button type="button" class="btn btn-primary btn-lg">Hemen Öğrenin</button>
                </div>
            </div>
            <div class="news-topitem">
                <div class="col-lg-5">
                    <div class="news-topitem-section">
                        <a href="">
                            <img src="" alt="">
                        </a>
                        <h2>Blockchain Eğitimleri</h2>
                        <p>125 Bölüm</p>
                        <p>Blockchain altyapısını öğrenin.</p>
                    </div>
                    <div class="news-topitem-section">
                        <a href="">
                            <img src="" alt="">
                        </a>
                        <h2>Kendi Startupını Oluştur.</h2>
                        <p>240 Bölüm</p>
                        <p>Kendi girişimini yap.</p>
                    </div>
                    <div class="news-topitem-more">
                       <a href="">Daha Fazlası<i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
