<article>
    <div class="learn">
        <div class="container">
            <div class="row">
                <div class="learn-items">
                    <div class="col-lg-3">
                        <div class="learn-imtems-img">
                            <a href="">
                                <img src="assets/img/group-38.png " alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="learn-items-content">
                            <h2></h2>
                            <p>Blockchain Geliştirme</p>
                            <p>Krypted</p>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="learn-items-content-icon">
                            <a href="">
                                <img src="" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="learn-items-link">
                            <a href="">KEŞFET</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="learn-items">
                    <div class="col-lg-3">
                        <div class="learn-imtems-img">
                            <a href="">
                                    <img src="assets/img/group-39.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="learn-items-content">
                            <h2>Girişimcilik</h2>
                            <p>Bir startup nasıl oluşturulur?</p>
                            <p>LaunchX</p>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="learn-items-content-icon">
                            <a href="">
                                <img src="" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="learn-items-link">
                            <a href="">KEŞFET</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="learn-items">
                    <div class="col-lg-3">
                        <div class="learn-imtems-img">
                            <a href="">
                                <img src="assets/img/group-40.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="learn-items-content">
                            <h2>Tasarım</h2>
                            <p>iOS Programlama</p>
                            <p>TurkishKit</p>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="learn-items-content-icon">
                            <a href="">
                                <img src="" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="learn-items-link">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="learm-link">
                        <a href="">Tüm Eğitimleri gör
                            <i></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>