<article>
    <div class="learn">
        <div class="container">
            <div class="row">
                <div class="learn-items">
                    <div class="col-lg-3">
                        <div class="learn-imtems-img">
                            <a href="">
                                <img src="assets/img/group-38.png " class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="learn-items-content">
                            <h2>Blockchain</h2>
                            <p class="learn-items-content_hood">Blockchain Geliştirme</p>
                            <p class="learn-items-content_text">Krypted</p>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="learn-items-content-icon">
                            <a href="">
                                <img src="assets/img/logo-k-yellow-2.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="learn-items-hr d-none d-lg-block d-xl-none">
                            <hr>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="learn-items-link">
                            <a href="">KEŞFET</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="learn-items">
                    <div class="col-lg-3">
                        <div class="learn-imtems-img">
                            <a href="">
                                <img src="assets/img/group-39.png" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="learn-items-content">
                            <h2>Girişimcilik</h2>
                            <p class="learn-items-content_hood">Bir startup nasıl oluşturulur?</p>
                            <p class="learn-items-content_text">LaunchX</p>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="learn-items-content-icon">
                            <a href="">
                                <img src="assets/img/logo-k-yellow-2.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="learn-items-hr d-none d-lg-block d-xl-none">
                            <hr>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="learn-items-link">
                            <a href="">KEŞFET</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="learn-items">
                    <div class="col-lg-3">
                        <div class="learn-imtems-img">
                            <a href="">
                                <img src="assets/img/group-40.png"  class="img-fluid"alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="learn-items-content">
                            <h2>Tasarım</h2>
                            <p class="learn-items-content_hood">iOS Programlama</p>
                            <p class="learn-items-content_text">TurkishKit</p>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="learn-items-content-icon">
                            <a href="">
                                <img src="assets/img/logo-k-yellow-2.png"  alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="learn-items-hr d-none d-lg-block d-xl-none">
                            <hr>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="learn-items-link">
                            <a href="">KEŞFET</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-lg-3">
                    <div class="learn-link">
                        <a href="">Tüm Eğitimleri gör >
                            <i></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>