<article>
    <div class="learn">
        <div class="container">
                <div class="row">
                        <div class="learn-items">
                            <div class="col-lg-3">
                                <div class="learn-imtems-img">
                                    <a href="">
                                        <img src="assets/img/group-38.png " alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="learn-items-content">
                                    <h2></h2>
                                    <p>Blockchain Geliştirme</p>
                                    <p>Krypted</p>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="learn-items-content-icon">
                                    <a href="">
                                        <img src="" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="learn-items-link">
                                    <a href="">KEŞFET</a>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</article>