<div class="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-1">
                <div class="news-learn">
                    <h1>Haydi sen de üret!</h1>
                    <p>Üretken akademi; blockchain, mobil uygulama, arayüz geliştirme gibi konularda ücretsiz ve Türkçe online
                        eğitim sağlayan bir portaldır.</p>
                    <button type="button" class="btn btn-primary btn-lg">Hemen Öğrenin</button>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="news-topitem">
                    <div class="news-topitem-section">
                        <div class="news-topitem-section-img">
                            <a href="">
                                <img src="assets/img/blockchain-tech-cryptocurrency-bitcoin.png" alt="">
                            </a>
                        </div>
                        <div class="news-topitem-section-text">
                            <h2>Blockchain Eğitimleri</h2>
                            <p class="news-topitem-section-text-chapter">125 Bölüm</p>
                            <p class="news-topitem-section-text-content">Blockchain altyapısını öğrenin.</p>
                        </div>
                    </div>
                    <div class="news-topitem-section">
                        <div class="news-topitem-section-img">
                            <a href="">
                                <img src="assets/img/20171017214211-getty-images-519190164.png" alt="">
                            </a>
                        </div>
                        <div class="news-topitem-section-text">
                            <h2>Kendi Startupını Oluştur.</h2>
                            <p class="news-topitem-section-text-chapter">240 Bölüm</p>
                            <p class="news-topitem-section-text-content">Kendi girişimini yap.</p>
                        </div>
                    </div>
                    <div class="news-topitem-more">
                        <a href="">Daha Fazlası
                            <i></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
