<article>
    <div class="nicewords">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 text-center nicewords-img">
                    <img src="assets/img/line-chart.png" alt="">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 text-center ">
                    <h1>Yapabileceklerinin asla yok.</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <p>İstediğin sürece yapabileceklerinin sınırı yok. Üretken Akademi bunun için burada; her zaman profesyonel
                        ve güncel eğitim içerikleri ile kendini keşfet.</p>
                </div>
            </div>
        </div>
    </div>
</article>