<article>
    <div class="supportes">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-2">
                    <div class="supportes-text">
                        <h1>
                            DESTEKLERİYLE;
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-2">
                    <div class="supportes-item">
                        <a href="">
                            <img src="assets/img/fikiratolye.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="supportes-item">
                        <a href="">
                            <img src="assets/img/trakya-2-x.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="supportes-item">
                        <a href="">
                            <img src="assets/img/fikirdegirmeni.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="supportes-item">
                        <a href="">
                            <img src="assets/img/ogrenenler.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="supportes-item">
                        <a href="">
                            <img src="assets/img/yemexpress-2-x.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="supportes-item">
                        <a href="">
                            <img src="assets/img/scode-2-x.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>