<article>
    <div class="whats">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="whats-title">
                        <h1>
                            Neden Üretken Akademi?
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">
                    <div class="whats-me">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="whats-me-content-1">
                                    <svg class="svg-item">
                                        <use xlink:href="#arrow-right" />
                                    </svg>
                                    <span>Her şey tek platformda.</span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="whats-me-content-2">
                                    <svg class="svg-bottom">
                                        <use xlink:href="#arrow-bottom" />
                                    </svg>
                                    <p class="whats-me-content-2-title">Profesyonel eğitmenler.</p>
                                    <p class="whats-me-content-2-content">Üretken Akademi, 21. yüzyıl becerilerini profesyonel eğitmenler yardımıyla ücretsiz olarak
                                        kazandırmayı hedefleyen bir alternatif eğitim sistemidir. İlgi alanlarınızı keşfetmek
                                        ve öğrenmek artık çok kolay!</p>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="whats-me-content-3">
                                    <svg class="svg-item">
                                        <use xlink:href="#arrow-right" />
                                    </svg>
                                    <span>Eğitim sonu sertifikaları.</span>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="whats-img">
                        <img src="assets/img/browser.png"  class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>