<div class="education-start">
    <div class="education-start-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="education-start-rectangle">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="education-start-rectangle-triangletick">
                                    <div class="education-start-rectangle-triangletick-triangle">
                                    </div>

                                    <div class="svg-icon">
                                        <svg class="svg-item">
                                            <use xlink:href="#education-white-tick" />
                                        </svg>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <p class="rantangle-title">Bir startup nasıl
                                    <br> oluşturulur?
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <p class="rantangle-description">Kendi startup’ını kurmak için
                                    <br> ihtiyacın olan her şeyi öğren.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md  text-center">
                                <button class="btn-buttonedu">Öğrenmeye Başla</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>