<div class="education-description">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="education-description-what">
                    <h1>Neden <br>
                         Girişimcilik?
                    </h1>
                    <p>Girişimcilik esasında işleyen düzene <br>
                            yenilik getirme ve katma değer <br>
                            yaratma kaygısıdır. <br>                            
                            <br>
                            Bu kaygı sistemin sürdürülebilirliğini <br>
                            sağlamak için oldukça önemli. Bu <br>
                            algıyı üst seviyeye çıkaran toplumlar <br>
                            daima önde olacaklar.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="education-description-number">
                  <img class="top-icon" src="assets/img/learn/rectangle-top.png" alt="">
                    <img src="assets/img/learn/banknote.png" class="cash-icon" alt="">
                    <p> <span class="blue-text">2017</span> Yılında <span class="black-text">162</span> Girişim<br><span class="black-semibold-text">103</span> milyon dolar yatırım<br>aldı
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="education-description-user">
                    <img class="icon-group" src="assets/img/learn/group.png" alt="">
                    <p><span class="semibold">2017</span> Yılında <span class="regular">Türkiye</span>’de<br><span class="medium">500</span> girişim yapıldı.</p>
                    <img src="assets/img/learn/rectangle-bottom.png" alt="" class="bottom-icon">
                </div>
            </div>
        </div>
    </div>
</div>