<div class="education-info">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-12">
                <div class="education-info-time">
                    <p class="education-info-time-title">ZAMAN</p>
                    <p class="education-info-time-day">10 AY</p>
                    <p class="education-info-time-description">Study 10 hrs/week and complete in 4 mo.</p>

                </div>
            </div>
            <div class="col-md-auto">
                <div class="education-info-verticalline ">
                   
                </div>
            </div>
            <div class="col-md-2ol-xs-12">
                <div class="education-info-condition">
                    <p class="education-info-condition-title">KOŞULLAR</p>
                    <p class="education-info-condition-description">Koşul gerektirmemektedir.</p>
                    <a  href="">Detayları incele</a>
                </div>
            </div>
            <div class="col-md-auto ">
                <div class="education-info-verticalline">
                   
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="education-info-evaluation">
                    <p class="education-info-evaluation-title">ÖĞRENCİ DEĞERLENDİRMESİ</p>
                    <div class="education-info-star">
                        <svg class="svg-item">
                            <use xlink:href="#education-star-icon" />
                        </svg>
                        <svg class="svg-item">
                            <use xlink:href="#education-star-icon" />
                        </svg>
                        <svg class="svg-item">
                            <use xlink:href="#education-star-icon" />
                        </svg>
                        <svg class="svg-item">
                            <use xlink:href="#education-star-icon" />
                        </svg>
                        <svg class="svg-item">
                            <use xlink:href="#education-star-icon" />
                        </svg>
                    </div>
                    <p class="education-info-evaluation-description">Tüm değerlendirmeleri gör (13123)</p>

                </div>
            </div>
            <div class="col-md-auto">
                <div class="education-info-verticalline">
                  
                </div>
            </div>
            <div class="col-md-2 col-xs-12">
                <div class="education-info-platfrom">
                    <p class="education-info-platfrom-title">PLATFORM</p>
                </div>
            </div>
        </div>
    </div>
