<div class="education-mentor">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="education-mentor-img">
                    <img src="assets/img/learn/group-2.png" alt="">
                </div>

            </div>
            <div class="col-md-auto">
                <div class="education-mentor-text">
                    <h1>Birebir Mentör Desteği</h1>
                    <p>Eğitiminiz boyunca bir Üretken Akademi mentoru ile bağlantıda kalın.
                        <br> Bir startup uzmanı birebir desteği ile daha güvenilir bir eğitim alın.</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="education-curriculum">
    <div class="container">
        <div class="row">
            <div class="col-md-auto">
                <div class="education-curriculum-text">
                    <h1> Hızlı ve Güvenilir Eğitim</h1>
                    <p>Dünya standartlarında bir müfredatla çalışırken temel becerileri
                        <br> keşfedin. Alanın uzmanlarından öğrenin ve önünüzdeki kariyer
                        <br> adımlarınızı atmanıza yardımcı olacak temel becerileri kazanın.</p>
                </div>
            </div>


            <div class="col-md-3">
                <div class="education-curriculum-img">
                    <img src="assets/img/learn/group-29.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="education-certificate">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="education-certificate-img">
                    <img src="assets/img/learn/group-30.png" alt="">
                </div>

            </div>
            <div class="col-md-auto">
                <div class="education-certificate-text">
                    <h1>Eğitim Sonu Sertifikası</h1>
                    <p>Tamamladığınız eğitimlerin sonunda özelleştirilmiş sertifika alın ve
                        <br> bu sertifikaları tecrübelerinize ekleyin.</p>
                </div>

            </div>
        </div>
    </div>
</div>