<div class="education-details">
    <div class="container">
        <div class="education-details-bg" style="background-image: url(assets/img/learn/mind-control-drones.png)">
            <div class=" row">
                <div class="col-lg-3 offset-lg-1 ">
                    <div class="education-details-logo ">
                        <img src="assets/img/learn/minor-kid.png " alt=" ">
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-2 offset-lg-1 ">
                    <p>Girişimci</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-5 offset-lg-1 ">
                    <p>Bir startup nasıl oluşturulur?</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-5 offset-lg-1 ">
                    <p>Bir startup nasıl oluşturulur bilmiyor musun? O zaman eğitime hemen başla.</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-3 offset-lg-1 ">
                    <button class="btn education-details-btn " type="submit ">Öğrenmeye Başla</button>
                </div>
                <div class="col-lg-3 ">
                    <div class="education-details-play-button ">
                        <svg class="svg-item ">
                            <use xlink:href="#white-play-button " />
                        </svg>
                        <span class="education-details-play-button-sub-text">Videoyu İzle</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>