<div class="education-info">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="education-info-time">
                    <p>ZAMAN</p>
                    <p>10 AY</p>
                    <p>Study 10 hrs/week and complete in 4 mo.</p>

                </div>
            </div>
            <div class="col-md-1">
                <div class="education-info-verticalline">
                   
                </div>
            </div>
            <div class="col-md-2">
                <div class="education-info-condition">
                    <p>KOŞULLAR</p>
                    <p>Koşul gerektirmemektedir.</p>
                    <a href="">Detayları incele</a>
                </div>
            </div>
            <div class="col-md-1">
                <div class="education-info-verticalline">
                   
                </div>
            </div>
            <div class="col-md-3">
                <div class="education-info-evaluation">
                    <p>ÖĞRENCİ DEĞERLENDİRMESİ</p>
                    <div class="education-info-star">
                        <svg class="svg-item">
                            <use xlink:href="#education-star-icon" />
                        </svg>
                        <svg class="svg-item">
                            <use xlink:href="#education-star-icon" />
                        </svg>
                        <svg class="svg-item">
                            <use xlink:href="#education-star-icon" />
                        </svg>
                        <svg class="svg-item">
                            <use xlink:href="#education-star-icon" />
                        </svg>
                        <svg class="svg-item">
                            <use xlink:href="#education-star-icon" />
                        </svg>
                    </div>
                    <p>Tüm değerlendirmeleri gör (13123)</p>

                </div>
            </div>
            <div class="col-md-1">
                <div class="education-info-verticalline">
                  
                </div>
            </div>
            <div class="col-md-2">
                <div class="education-info-platfrom">
                    <p>PLATFORM</p>
                </div>
            </div>
        </div>
    </div>
