<div class="education">
    <div class="container">
        <div class="education-bg" style="background-image: url(assets/img/learn/test.jpg)">
            <div class="education-group">


                <div class="row " >
                    <div class="col-md-3">
                        <div class="logo">
                            <img src="assets/img/learn/minor-kid.png " alt=" ">
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-auto ">
                        <p class="education-title">Girişimci</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-auto  ">
                        <p class="education-heading">Bir startup nasıl oluşturulur?</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-auto  ">
                        <p class="education-commet">Bir startup nasıl oluşturulur bilmiyor musun? O zaman eğitime hemen başla.</p>
                    </div>
                </div>
                <div class="row flext">
                    <div class="col-md-3">
                        <button type="submit " class="button-btn"> Öğrenmeye Başla</button>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-grup">
                        <div class="btn-grup-box">
                            <svg class="svg-item">
                                <use xlink:href="#white-play-button " />
                            </svg>

                            <p class="education-text-watch">Videoyu İzle</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
