.supportes {
    margin-bottom: 106.6px;
    &-text {
        font-family: $main-font;
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #9b9b9b;
        margin-bottom: 43.9px;
    }
}