<section class="brand">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-3 offset-lg-1">
                <div class="brand-text">
                    <h1 class="text-left">Üretken Akademi</h1>
                    <p class="text-left">Hemen eğitime başla ve sınırlarını zorla.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="brand-button float-right">
                    <button type="button" class="btn btn-primary btn-lg">Öğrenmeye Başla</button>
                </div>
            </div>
        </div>
    </div>
</section>