<div class="content">
    <div class="container">
       <div class="content-main">
           <div class="content-main-left">
                <div class="content-main-left-login">
                    <div class="content-main-left-login-text">
                        <h1>Giriş Yap</h1>
                        <p>Hemen giriş yap.</p>
                    </div>
                   <form>
                       <div class="content-main-left-login-mail">
                           <p>Mail Adresi</p>
                           <input type="text" name="email" id="">
                       </div>
                       <div class="content-main-left-login-password">
                           <p>Şifre</p>
                        <input type="password" name="password" id="">
                       </div>
                       <div class="content-main-left-login-help">
                           <input type="checkbox" name="" id="">
                           <p>Beni Hatırla</p>
                           <a href="">Şifre Unutum</a>
                       </div>
                       <input type="submit" value="Giriş Yap">
                   </form>
                </div>
           </div>
           <div class="content-main-vertical-line">

           </div>
           <div class="content-main-regiht">
                <div class="content-main-regiht-register">
                        <div class="content-main-regiht-register-text">
                            <h1>Kayıt ol</h1>
                            <p>Hesabın yok mu ? Hemen kayıt ol.</p>
                        </div>
                        <form>
                                <div class="content-main-regiht-register-name">
                                    <p>İsim Soyisim</p>
                                    <input type="text" name="name" id="">
                                </div>
                                <div class="content-main-regiht-register-email">
                                    <p>Mail Adresi</p>
                                    <input type="email" name="register-email" id="">
                                </div>
                                <div class="content-main-regiht-register-password">
                                    <p>Şifre</p>
                                    <input type="password" name="register-password" id="">
                                </div>
                                <input type="submit" value="Kayıt Ol">
                        </form>
                </div>
        </div>


       </div>
    </div>
</div>