<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="footer-description">
                    <div class="footer-description-logo">
                        <a href="">
                            <img src="assets/img/logo.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <hr>
                    <p class="text-left footer-description-content">Üretken Akademi, 21. yüzyıl becerilerini profesyonel eğitmenler yardımıyla ücretsiz olarak kazandırmayı
                        hedefleyen bir alternatif eğitim sistemidir. İlgi alanlarınızı keşfetmek ve öğrenmek artık çok kolay!</p>
                    <p class="text-left footer-description-copyright">2018 Copyright</p>

                </div>
            </div>
            <div class="col-lg-2">
                <h1>Hızlı Erişim</h1>
                <ul class="inline footer-speednav">
                    <li>
                        <a href="">Eğitmenler</a>
                    </li>
                    <li>
                        <a href="">İletişim</a>
                    </li>
                    <li>
                        <a href="">Kurumsal</a>
                    </li>
                    <li><a href="">Biz kimiz</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>