<header class="header">

    <div class="container">
        <div class="row">
            <div class="col-lg-1">
                <div class="header-logo">
                    <a href="">
                        <img src="assets/img/logo.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="header-menu-items">
                    <ul id="nav">
                        <li>
                            <a href="">Anasayfa </a>
                        </li>
                        <li>
                            <a href="">Nedir?
                                <i></i>
                            </a>
                        </li>
                        <li>
                            <a href="">Egitimler</a>
                        </li>
                        <li>
                            <a href="">Kurumsal</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-3">
                <div class="header-help-tag  float-right">
                    <div class="header-help-tag-login">
                        <a href="#">Kayit Ol</a>
                    </div>
                    <div class="header-help-tag-learn">
                        <a href="#">Öğren</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>