<header class="header">
    <div class="container">
        <div class="header-logo">
            <a href="">
                <img src="assets/img/logo.png" alt="">
            </a>
        </div>
        <nav class="header-menu">
            <div class="header-menu-items">
                <div class="header-menu-items-item">
                    <a href="">Anasayfa </a>
                </div>
            </div>
            <div class="header-menu-items">
                <div class="header-menu-items-item">
                    <a href="">Nedir?
                        <i></i>
                    </a>
                </div>
            </div>
            <div class="header-menu-items">
                <div class="header-menu-items-item">
                    <a href="">Egitimler</a>
                </div>
            </div>
            <div class="header-menu-items">
                <div class="header-menu-items-item">
                    <a href="">Kurumsal</a>
                </div>
            </div>
        </nav>
        <div class="header-login"></div>
        <div class="header-learn"></div>
    </div>
</header>