<nav class="nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="nav-logo">
                    <a href="">
                        <img src="assets/img/logo.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="nav-menu-items">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="">Anasayfa </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="">Nedir?
                                <i></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="">Egitimler</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="">Kurumsal</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-2">
                <div class="nav-help-tag  float-right">
                    <div class="nav-help-tag-login">
                        <a href="#">Kayit Ol</a>
                    </div>
                    <div class="nav-help-tag-learn">
                        <a href="#">Öğren</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>