/* 
    
    Tanimlamalar
    
    1) Renkler
    2) Yazi tipleri ve boyutlari
    
*/

// 1) Renkler

$main-color:#3f60e8;
$second-color:#2dbfa2; 
$white-color:#ffffff;
$black-color:#000000;
$gray-color : #fbfcff;
$def-text-color:#353535;
$dark-color : #1d1f25;
// 2) Yazi tipleri ve boyutlari
 $main-font: 'Asap', sans-serif;
 $second-font :  'Work Sans', sans-serif;


/// Site Boyutu

$main-page-size:1172px;
