<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="login-title">Giriş Yap</h1>
                <p class="title-description">Hemen giriş yap.</p>

                <form class="form-css">
                    <div class="row">
                        <div class="col-md-9 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" for="email">Mail Adresi</label>
                                <input type="email" name="email" id="email" placeholder="Email@example.com" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="password">Şifre</label>
                                <input type="password" name="password" id="password" placeholder="Şifre" class="form-control login-input-pw" psswd-shown="false">
                                <p id="login-toggle">GÖSTER</p>
                            </div>
                            <div class="form-group">
                                <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                                <label for="styled-checkbox-1">Beni Hatırla</label>

                                <a href="#" class="password-forget">Şifremi unuttum</a>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Giriş Yap">
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="col-md-6">
                    <h1 class="login-title">Kayıt Ol</h1>
                    <p class="title-description">Hesabın yok mu ? Hemen kayıt ol.</p>
    
                    <form class="form-css vertical-line">
                        <div class="row">
                            <div class="col-md-9 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label" for="name">İsim Soyisim</label>
                                    <input type="text" name="name" id="name" placeholder="Ad Soyad" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="email2">Mail Adresi</label>
                                    <input type="email" name="email2" id="email2" placeholder="Email@example.com" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="password2">Şifre</label>
                                    <input type="password" name="password2" id="password2" placeholder="Şifre" class="form-control signup-input-pw" psswd-shown="false">
                                    <p id="signup-toggle">GÖSTER</p>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Kayıt Ol">
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
        </div>
    </div>
</div>