/* 

    Header
    Header kisminda bulunan elementlerine kazandirilmis stiller burada yer alir 

*/

.main-header {
    background: $white-color;
    padding: 20px 0;
    width: 100%;
    &.fixed {
        z-index: 99999;
        position: fixed;
        top: 0;
    }
    @include responsive(991) {
        padding: 10px 0;
        .logo img {
            width: 110px;
        }
    }
}

// .header {
//     height: 50px;
//     &-logo {
//         display: inline-block;
//     }
//     &-menu {
//         display: inline-block;
//         position: absolute;
//         top: 50%;
//         margin-left: 62px;
//         &-items {
//             margin-right: 40px;
//             display: inline-block;
//             &-item {
//                 a {
//                     color: $black-color;
//                     font-family: $second-font;
//                     font-size: 14px;
//                     font-weight: 500;
//                     font-style: normal;
//                     font-stretch: normal;
//                     line-height: normal;
//                     letter-spacing: normal;
//                     text-align: center;
//                     &:hover {
//                         color: $main-color;
//                     }
//                 }
//                 &:hover {
//                     border-bottom: 3px solid $main-color; // height: 3px;
//                     border-radius: 3px;
//                     display: inline-block; // // content: "asdasd";
//                     // padding-bottom: 9px;
//                     // border-radius:3px;
//                 }
//             }
//         }
//     }
//     &-login {}
//     &-learn {}
// }

/* 

    Header
    Header kisminda bulunan elementlerine kazandirilmis stiller burada yer alir 

*/

// .main-header {
//     background: $white-color;
//     padding: 20px 0;
//     width: 100%;
//     &.fixed {
//         z-index: 99999;
//         position: fixed;
//         top: 0;
//     }
//     @include responsive(991) {
//         padding: 10px 0;
//         .logo img {
//             width: 110px;
//         }
//     }
// }

.header {
    height: 50px;
    &-logo {
        display: inline-block;
    }
    &-menu {
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-left: 62px;
        &-items {
            margin-right: 40px;
            display: inline-block;
           position: relative;
            &-item {
                a {
                    color: $black-color;
                    font-family: $second-font;
                    font-size: 14px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    &:hover {
                        color: $main-color;
                    }
                }
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 100%;
                width: 0;
                height: 3px;
                background-color: $main-color;
                margin-top: 9px
            }
            &:hover:after {
                width: 100%;
            }
        }
    }
    &-login {}
    &-learn {}
}