.education-details {
    margin-bottom: 52px;
    &-logo {
        margin-top: 105px;
    }

    padding-top: 79px;
    padding-bottom: 52px;
    &-bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: fixed;
        border-radius: 4px;
        height: 500px;
    }
    &-play-button {
        color: red;
        margin-top: 15px;
        .svg-item {
            width: 20px;
            height: 20px;
        }
        &-sub-text {
            font-family: Asap;
            font-size: 11px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            vertical-align: super;
        }
    }
    &-btn {
        font-family: Asap;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #e84c3c;
        width: 100%;
        object-fit: contain;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 2px 13px 0 rgba(232, 76, 60, 0.49);
        padding: 16px 37.5px;
        text-align: center;
    }
}

// @media (min-width: 320px) and (max-width: 768px) {
//     .education-details {
//         &-btn {
//             width: calc(50% - 20px);
//             margin-left: 10px;
//             margin-right: 10px;
//         }
//     }
// }

@media (max-width: 991px) {
    .education-details {
        &-btn {
            width: calc(50% - 20px);
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

@media (max-width: 767px) {

}