.education-start {
    .text-center{
        text-align: center;
    }
    margin-top: 230px;
    &-bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: fixed;
        border-radius: 4px;
        height: 533px;
        background-image: url(../img/learn/group-31.svg);
    }
    &-rectangle {
        margin: 0 auto;
        max-width: 439px;
        width: 100%;
        height: 309px;
        object-fit: contain;
        border-radius: 8px;
        box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.12);
        background-color: #ffffff;
        border: solid 2px #a43428;
        &-triangletick {
            position: relative;
            float: right;
            &-triangle {
                width: 0;
                height: 0;
                border-top: 75px solid #a43428;
                border-left: 75px solid transparent;
            }
            .svg-icon {
                top: 13px;
                position: absolute;
                display: inline;
                left: 37px;
                .svg-item {
                    width: 26px;
                    height: 20px;
                }
            }
        }
        .rantangle-title {
            font-family: Asap;
            font-size: 32px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #4a4a4a;
            margin-bottom: 29px;
        }
        .rantangle-description {
            font-family: Asap;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #9b9b9b;
            margin-bottom: 51px;
        }
        .btn-buttonedu {
            padding-top: 22px;
            padding-bottom: 23px;
            padding-right: 63px;
            padding-left: 62px;
            font-family: Asap;
            font-size: 17px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #a43428;
            border-radius: 4px;
            background-color: #ffffff;
            box-shadow: 0 2px 13px 0 rgba(74, 74, 74, 0.18);
        }
    }
}
